a{ 
    text-decoration: none !important; 
    color: #1d175c; 
    float: left;
    font-weight: 600;
    font-size: 24;
    font-family:  'Montserrat', sans-serif;
}
a:hover{
    color: #e12257;
}
.cantItem{
    background-color: #e12257;
    color: white;
    border-radius: 100%;
    padding: 1px 7px;
    margin-top: 20px;
    font-size: 10px;
    float: left;
}